
.container{
    margin-top: 50px;;
}
nav img{
    width: 70%;
}
.buy-now-button{
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.carousel-item{
    
    background-image: url("images/bg-1.png");
    
    background-repeat: no-repeat;
    background-position: 700px;;

}
.container .carousel-item{
    margin-top:50px;
}
.car-img{
    width:250px;;
    margin-bottom: 70;
}
.card{
    border: 0ch;
}
.card-title, .card-text{
    text-align: center;
}
.buy-now-button, .phone{
    margin-left: 135px;
}
h6{
    color: rgb(228, 163, 41);
}